.about__me {
  background-image: url(../images/background-about.jpg);
  color: #6d7807;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__title {
  padding-top: 100px;
  padding-left: 500px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  z-index: 1;
}

.about__image {
  padding-left: 100px;
  max-height: 500px;
  left: 5px;
  top: 120px;
  z-index: auto;
  position: absolute;
}
.about__content {
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  padding-right: 200px;
}

.about__description {
  margin-bottom: 0px;
  display: flex;
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 500px;
}

.about__links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 400px;
}
.about__link {
  color: #686466;
  text-decoration: none;
  transition: color 1s linear;
  border-style: solid;
}
.about__link:hover {
  color: #2f80ed;
}
